dataset/**
**.zip
/dataset
/Image-Segmentation
/Image-Segmentation2
**.pkl
**.csv
/Dataset_0-5
/Feature-Extraction
/sara-dataset
/doaa-dataset
/Image-Segmentation-sara
Image-Segmentation1/**
Image-Segmentation2/**
grey/**
grey-tany/**
Binary/**
Binary2/**
New folder/**us
/Dataset_0-5
data we7sha/**
grey_dataset/**
grey_mo3eed/**
dataset2/**
our_dataset/**
test_seg/**
test_test_seg/**
**.rar
kamal/**
kamal_seg/**
/test_data
/Image-Segmentation-masks
us/**
